@import '../_variables';

.status-info {
  margin-right: 10px;
}

nav {
  padding-left: 5%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
  background-color: #305d6d; /* For browsers not support gradients  */
  background-image: linear-gradient(to right, #305d6d, #7bb9ce);

  #mainmenu {
    min-width: 140px;
  }

  .heading {
    margin-left: 1em;
    font-size: 1.5em;
  }

  .dropdown-content li:hover {
    background-color: white;
  }

}

.navbar-fixed {
  z-index: 1000;
  .mt-logo {
    height: 70px;
    padding-bottom: 5px;
    @media only screen and (max-width: $small-laptop) {
      height: 60px;
    }
  } 
}
.navbar-fixed nav {
  position: static;    
}