
.status-info {
  margin-right: 10px;
}
.heading {
  font-size:1.5em;
}

nav {
  padding-left: 5%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #00b3f0 , #a9dbec);
}

.navbar-fixed {
  z-index: 1000;    
}
.navbar-fixed nav {
  position: static;    
}