.container {
  margin-top: 20px;
  margin-bottom: 200px;
  width: 90%;
  max-width: 2000px;
  font-family: "Roboto", sans-serif;
}

.mt-card-1 {
  .prefix {
    top: 11px;
    color: #888888;
  }
  .mt-submit-btn-1 {
    padding: 10px 0;
  }
  .mt-submit-btn-2 {
    padding-left: 0; 
  }
}

.mt-card-padding {
  padding: 20px;
}

.mt-pl-0 {
  padding-left: 0 !important;
}

.record-selection-controls input {
  font-size: 2rem;
}

.control-swap-horizontal > div {
  transform: translate(50%, 50%);
  height: 60px;

  a {
    transform: translate(-50%, -50%);  
  }
}

.profile-selector {
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;

  .input-field {

    padding-right: 1rem;
  }

  .material-icons {
    width: 3rem;
    font-size: 2rem;
  }

  .card {
    z-index: 9999;
    max-width: 500px; 
    top: 60px;
    right: 0;
    position: absolute;
  }
}