@import '../_variables';

.toolbar {
  padding: 20px 5% 0;
  background-color: #fbfbfb;
  box-shadow: none;
  border-bottom: 1px solid #efefef;

  .mt-info-toast{
    left: -220px;
    top: -13px;
  }

  .mt-info-badge {
    color: $theme-blue;
    &:hover{
      color: $theme-blue-hover;
    }
  }

  .mt-controls i {
    color: $theme-blue;
    padding: 10px;
    position: relative;
    top: 9px;
    font-size: 32px;
    &:hover{
      color: #0379b3;
    }
  }

  .group-label {
    padding-right: 10px;
    color: #484848;
    .badge {
      position: static;
      font-weight: 300;
      font-size: 0.8rem;
      color: #fff;
      background-color: #26a69a;
      border-radius: 2px;
    }
  }

  li {
    position: relative;
    .progress {
      position: absolute;
      margin: 0;
      bottom: 0;
    }
    
    &.disabled a {
      color: #9F9F9F !important;
      cursor: default !important;
    }
  }
}
