
@import 'vendor/materialize/materialize';
@import './variables';

html {
  overflow-y: scroll;
}
.context {
 background-color: $theme-background;
 height: 100vh;
}

.input-field {
  margin-top: 0.7em;
}



html.modal-open {
  overflow-y: hidden; 
}

//util component overrides
.marc-record-container {
  .row{
  margin-left: 0;
  margin-right: 0;
  }

  .row-no-bottom-margin {
    border-bottom: 1px solid rgb(230,230,230);
  }
}

.heading{
  text-transform: uppercase;
  font-weight: 100;
}

.fixed-action-btn{
  .btn-floating {
    &:hover{
      background-color: $theme-green-hover;
    }
  }
}

// custom classes
.mt-theme-blue {
  color: $theme-blue;
}
.mt-inline {
  display: inline;
}

.mt-btn{
  background-color: $theme-blue;
  &:hover{
    background-color: #0379b3;
  }
}