
@import 'vendor/materialize/materialize';
@import './variables';

html {
  overflow-y: scroll;
  .marc-record-panel, .marc-record-editor{
    font-family: 'roboto_monoregular';
  }
}
.context {
 background-color: $theme-background;
 height: 100vh;
}

.input-field {
  margin-top: 0.7em;
}

html.modal-open {
  overflow-y: hidden; 
}

//util component overrides
.marc-record-container {
  .row{
  margin-left: 0;
  margin-right: 0;
  }

  .row-no-bottom-margin {
    border-bottom: 1px solid rgb(230,230,230);
  }
}

.fixed-action-btn{
  .btn-floating {
    &:hover{
      background-color: $theme-green-hover;
    }
  }
}

// custom classes
.mt-theme-blue {
  color: $theme-blue;
}
.mt-inline {
  display: inline;
}

.mt-btn{
  background-color: $theme-blue;
  &:hover{
    background-color: #0379b3;
  }
}

// self-hosted material design icon rules
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}